.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex-around-box {
  display: flex;
  justify-content: space-around;
}

.flex-between-box {
  display: flex;
  justify-content: space-between;
}

.a-center {
  text-align: center;
}

#name, #variant, #group , #faculty , #birthdate {
  padding: 5px;
  width: 200px;
}

#response-block {
  width: 300px;
}

body {
  text-align: center;
  padding-top: 3em;
}

#run{
  margin-top: 1em;
}
.colored-cell {
  background-color: rgb(179, 106, 201);
}
#changing-table
{
  margin-top: 3em;
  table-layout: auto;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
td{
    border: 2px solid black;
    height: 15px;
}

