.Profile {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 80%;
    background-color: #c7c7c7;
    border-radius: 35px;
    box-sizing: border-box;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 35px;
}

.profile-main {
    width: 40%;
    height: 100%;
}

.profile-description {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    padding-left: 35px;
    display: flex;
    flex-direction: row;
}

.profile-description input {
    float: right;
}

.profile-avatar {
    box-sizing: border-box;
    width: 100%;
    max-width: 300px;
    height: 300px;
}

.profile-avatar__img {
    width: 100%;
    height: 100%;
}

.profile-name {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
}

.username {
    font-family: sans-serif;
    font-size: 42px;
    width: 100%;
}

.user-description {
    height: 50%;
}

.user-description span {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: lighter;
    height: 10%;
}

.user-description textarea {
    resize: none;
    width: 100% !important;
    height: 90% !important;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    border: none;
    overflow-y: auto;
}

.user-favourites {
    box-sizing: border-box;
    margin-top: 20px;
    height: 70%;
    overflow-y: auto;
}

.user-favourites span {
    font-family: sans-serif;
    font-size: 22px;
    font-weight: lighter;
}

.user-favourites ul {
    padding: 0;
}

.user-favourites ul li {
    margin-left: 0;
    height: auto;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 22px;
    padding: 5px 0;
}
.user-description ul {
    padding: 0;
    list-style: none;
}
.user-description ul li {
    margin-left: 0;
    height: auto;
    width: 140%;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 15px;
    padding: 5px 0;
}
.changebtn{
    height: 15%;
    text-decoration: none;
    padding: 3px 15px;
    border: 1px solid;
    border-color: rgb(0, 87, 109);
    background-color: rgb(0, 204, 255);
    color: black;
    border-radius: 10px;
}